/****************************
****Core
****************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************************
****General
****************************/
body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgb(250, 245, 245)
}

.main {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 245, 245)
 }

section {
    margin: 0%;
    padding: 0%;
    width: 100%;
}

 /****************************
 ****Banner
 ****************************/
#banner {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 665px;
    background-color: rgb(22, 3, 21);
}

.head {
    width: 100%;
    height: 15%;
    background: inherit;
    border-bottom: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(250, 245, 245);
}

.refreshing {
    width: 200px;
    height: 30px;
    float: right;
    margin-right: 6%;
    border-radius: 2px;
    background-color: rgb(235, 19, 19);
}

.main-logo {
    width: 650px;
    height: 70px;
    margin: auto;
    border-radius: 2px;
    background-color: rgb(235, 19, 19);
}

.nav {
    width: 450px;
    height: 28px;
    float: right;
    margin-right: 1%;
    border-radius: 2px;
    background-color: rgb(235, 19, 19);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgb(34, 31, 31);
    
}

a:hover {
    color: rgb(74, 233, 233);
}

.header {
    width: 100%;
    height: 40%;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-auto-flow: column;
    background: inherit;
}

#welcome {
    width: 100%;
    height: 500px;
}

.greeting {
    width: 50%;
    height: 25%;
    margin-left: 4%;
    margin-top: 2%;
    background: inherit;
    border-radius: 2px;
    background-color: rgb(235, 19, 19);
}

.explore {
    width: 30%;
    height: 78%;
    margin-left: 4%;
    margin-top: 2%;
    background: inherit;
    border-radius: 2px;
    background-color: rgb(235, 19, 19);
}

.update-news {
    width: 40%;
    height: 105%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: 4%;
    border-radius: 2px;
    background-color: rgb(235, 19, 19);
}

/****************************
****Request
****************************/
.request {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(100, 70, 70);
}

.order {
    width: 160px;
    height: 50px;
    border-radius: 2px;
    background-color: rgb(235, 19, 19);
}

/****************************
****Service
****************************/
.services {
    width: 100%;
    height: 597px;
    display: grid;
    grid-auto-flow: row;
    row-gap: 50px;
    background-color: rgb(138, 43, 226);
}

.service-title {
    width: 50%;
    height: 70px;
    margin: auto;
    border-radius: 2px;
    background-color: rgb(235, 19, 19);
}

.service-content {
    width: 100%;
    height: 120px;
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 100px;
}

.service {
    width: 90%;
    height: 300px;
    margin: 5%;
    border-radius: 2px;
    background-color: rgb(238, 228, 228);
}

/****************************
****Map
****************************/
.google-map {
    width: 100%;
    height: 500px;
    border-top: solid;
    justify-content: center;
    border-top-width: 1px;
    border-top-color: rgb(231, 221, 208);
    background-color: rgb(134, 89, 148);
}

.branches {
    width: 15%;
    height: 70%;
    float: left;
    margin-top: 77px;
    margin-left: 18%;
    background-color: rgb(127, 255, 212);
}

.map {
    width: 50%;
    height: 70%;
    float: left;
    margin-top: 77px;
    margin-left: 7px;
    background-color: rgb(127, 255, 212);
}

/****************************
****Footer
****************************/
footer {
    width: 100%;
    height: 1000px;
    background-color: rgb(19, 18, 18);
}

.gallery {
    width: 45%;
    height: 400px;
    float: left;
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    row-gap: 0px;
    column-gap: 0px;
    padding: 5px;
    border-color: rgb(253, 217, 11);
}

.statement {
    width: 45%;
    height: 400px;
    float: left;
    margin-left: 0%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    padding: 5px;
    border-color: rgb(253, 217, 11);
}


.contact {
    width: 80%;
    height: 300px;
}

.contact-details {
    width: 40%;
    height: 60%;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE 10 */
    flex: 25%;
    padding: 0 2px;
}

.column img {
    margin-top: 5px;
    vertical-align: middle;
}